<h2>LOC/SLOC SUM in time</h2>
<p>This	section shows the evolution of LOC and SLOC metrics over time</p>

<div class="filters">
  <%= form_tag loc_sum_by_date_filtered_path, class: 'feature-form' %>
    <div class="filter_row clear">
      <%= render 'shared/repositories_selector', repositories: @repositories %>
      <div class="committers-filter-container"><%= render 'shared/committers_selector', committers: @committers %></div>
    </div>

    <div class="date_filters">
      <%= render 'shared/date_selectors', from: @from, to: @to %>
    </div>

    <%= render 'shared/filter_restults_btn' %>
  </form>
</div>

<div class="filter_results clear"></div>