<div class="filters">
  <%= form_tag metrics_evolution_filtered_path %>
    <div class="filter_row clear">
      <%= render 'shared/repositories_selector', repositories: @repositories %>
      <div class="branches-filter-container"><%= render 'shared/branches_selector', branches: @branches %></div>
      <%= render 'shared/unit_types_selector', types: @metrics_types %>
    </div>

    <div class="date_filters">
      <%= render 'shared/date_selectors_month', from: @from, to: @to %>
    </div>

    <%= render 'shared/filter_restults_btn' %>
  </form>

</div>

<div class="filter_results clear"></div>