<%= form_for(@file_link) do |f| %>
  <% if @file_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@file_link.errors.count, "error") %> prohibited this file_link from being saved:</h2>

      <ul>
      <% @file_link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.number_field :parent_id %>
  </div>
  <div class="field">
    <%= f.label :file_id %><br />
    <%= f.number_field :file_id %>
  </div>
  <div class="field">
    <%= f.label :commit_id %><br />
    <%= f.number_field :commit_id %>
  </div>
  <div class="field">
    <%= f.label :file_path %><br />
    <%= f.text_field :file_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
