<%= form_for(@metrics_evo) do |f| %>
  <% if @metrics_evo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metrics_evo.errors.count, "error") %> prohibited this metrics_evo from being saved:</h2>

      <ul>
      <% @metrics_evo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :branch_id %><br />
    <%= f.number_field :branch_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :loc %><br />
    <%= f.number_field :loc %>
  </div>
  <div class="field">
    <%= f.label :sloc %><br />
    <%= f.number_field :sloc %>
  </div>
  <div class="field">
    <%= f.label :files %><br />
    <%= f.number_field :files %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
