<p id="notice"><%= notice %></p>

<p>
  <b>Branch:</b>
  <%= @metrics_evo.branch_id %>
</p>

<p>
  <b>Date:</b>
  <%= @metrics_evo.date %>
</p>

<p>
  <b>Loc:</b>
  <%= @metrics_evo.loc %>
</p>

<p>
  <b>Sloc:</b>
  <%= @metrics_evo.sloc %>
</p>

<p>
  <b>Files:</b>
  <%= @metrics_evo.files %>
</p>


<%= link_to 'Edit', edit_metrics_evo_path(@metrics_evo) %> |
<%= link_to 'Back', metrics_evos_path %>
