<p id="notice"><%= notice %></p>

<p>
  <b>File:</b>
  <%= @metric.file_id %>
</p>

<p>
  <b>Commit:</b>
  <%= @metric.commit_id %>
</p>

<p>
  <b>Lang:</b>
  <%= @metric.lang %>
</p>

<p>
  <b>Sloc:</b>
  <%= @metric.sloc %>
</p>

<p>
  <b>Loc:</b>
  <%= @metric.loc %>
</p>

<p>
  <b>Ncomment:</b>
  <%= @metric.ncomment %>
</p>

<p>
  <b>Lcomment:</b>
  <%= @metric.lcomment %>
</p>

<p>
  <b>Lblank:</b>
  <%= @metric.lblank %>
</p>

<p>
  <b>Nfunctions:</b>
  <%= @metric.nfunctions %>
</p>

<p>
  <b>Mccabe max:</b>
  <%= @metric.mccabe_max %>
</p>

<p>
  <b>Mccabe min:</b>
  <%= @metric.mccabe_min %>
</p>

<p>
  <b>Mccabe sum:</b>
  <%= @metric.mccabe_sum %>
</p>

<p>
  <b>Mccabe mean:</b>
  <%= @metric.mccabe_mean %>
</p>

<p>
  <b>Mccabe median:</b>
  <%= @metric.mccabe_median %>
</p>

<p>
  <b>Halstead length:</b>
  <%= @metric.halstead_length %>
</p>

<p>
  <b>Halstead vol:</b>
  <%= @metric.halstead_vol %>
</p>

<p>
  <b>Halstead level:</b>
  <%= @metric.halstead_level %>
</p>

<p>
  <b>Halstead md:</b>
  <%= @metric.halstead_md %>
</p>


<%= link_to 'Edit', edit_metric_path(@metric) %> |
<%= link_to 'Back', metrics_path %>
