<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @action.type %>
</p>

<p>
  <b>File:</b>
  <%= @action.file_id %>
</p>

<p>
  <b>Commit:</b>
  <%= @action.commit_id %>
</p>

<p>
  <b>Branch:</b>
  <%= @action.branch_id %>
</p>


<%= link_to 'Edit', edit_action_path(@action) %> |
<%= link_to 'Back', actions_path %>
