<%= form_for(@file_copy) do |f| %>
  <% if @file_copy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@file_copy.errors.count, "error") %> prohibited this file_copy from being saved:</h2>

      <ul>
      <% @file_copy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :to_id %><br />
    <%= f.number_field :to_id %>
  </div>
  <div class="field">
    <%= f.label :from_id %><br />
    <%= f.number_field :from_id %>
  </div>
  <div class="field">
    <%= f.label :from_commit_id %><br />
    <%= f.number_field :from_commit_id %>
  </div>
  <div class="field">
    <%= f.label :new_file_name %><br />
    <%= f.text_area :new_file_name %>
  </div>
  <div class="field">
    <%= f.label :action_id %><br />
    <%= f.number_field :action_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
