<h1>Listing file_copies</h1>

<table>
  <tr>
    <th>To</th>
    <th>From</th>
    <th>From commit</th>
    <th>New file name</th>
    <th>Action</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @file_copies.each do |file_copy| %>
  <tr>
    <td><%= file_copy.to_id %></td>
    <td><%= file_copy.from_id %></td>
    <td><%= file_copy.from_commit_id %></td>
    <td><%= file_copy.new_file_name %></td>
    <td><%= file_copy.action_id %></td>
    <td><%= link_to 'Show', file_copy %></td>
    <td><%= link_to 'Edit', edit_file_copy_path(file_copy) %></td>
    <td><%= link_to 'Destroy', file_copy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New File copy', new_file_copy_path %>
