<h2>SUM of Files Modified in time</h2>
<p>This section shows the evolution of the files in a given repository, and the actions that were applied on them</p>

<div class="filters">
  <%= form_tag modifications_amount_by_commit_filtered_path, class: 'feature-form' %>

    <div class="filter_row clear">
      <%= render 'shared/repositories_selector', repositories: @repositories %>
      <%= render 'shared/modifications_selector', modifications: @modifications %>
    </div>

    <div class="date_filters">
      <%= render 'shared/date_selectors', from: @from, to: @to %>
    </div>

    <%= render 'shared/filter_restults_btn' %>
  </form>
</div>

<div class="filter_results clear"></div>