<div id='chart'>
  <%= render_chart(modifications_amount_by_commit_chart(@commits, @modification), 'chart') %>
</div>

<table class="data-table">
  <thead>
    <tr>
      <%= content_tag "th", 'Date' %>
      <%= content_tag "th", 'Added'     if ['','A'].include?(@modification) %>
      <%= content_tag "th", 'Modified'  if ['','M'].include?(@modification) %>
      <%= content_tag "th", 'Deleted'   if ['','D'].include?(@modification) %>
      <%= content_tag "th", 'Renamed'   if ['','V'].include?(@modification) %>
      <%= content_tag "th", 'Copied'    if ['','C'].include?(@modification) %>
      <%= content_tag "th", 'Replaced'  if ['','R'].include?(@modification) %>
    </tr>
  </thead>
  <tbody>
    <% @commits.each do |commit| %>
      <tr>
        <%= content_tag "td", commit.date.strftime("%m/%d/%Y") %>
        <%= content_tag( "td", commit.sum_a ) if ['','A'].include?(@modification) %>
        <%= content_tag( "td", commit.sum_m ) if ['','M'].include?(@modification) %>
        <%= content_tag( "td", commit.sum_d ) if ['','D'].include?(@modification) %>
        <%= content_tag( "td", commit.sum_v ) if ['','V'].include?(@modification) %>
        <%= content_tag( "td", commit.sum_c ) if ['','C'].include?(@modification) %>
        <%= content_tag( "td", commit.sum_r ) if ['','R'].include?(@modification) %>
      </tr>
    <% end %>
  </tbody>
</table>