<p>
  <% @files.each do |file| %>
    <h3><%= file.file_name %></h3>
    <table>
      <thead>
      <tr>
        <th>Revision</th>
        <th>Commiter</th>
        <th>Date</th>
        <th>SLOC</th>
        <th>LOC</th>
      </tr>
      </thead>
      <tbody>
      <% file.metrics.sort{|a,b| a.commit.rev <=> b.commit.rev}.each do |metric| %>
        <tr>
          <td><%= metric.file.file_name %></td>
          <td><%= metric.commit.commiter.name %></td>
          <td><%= metric.commit.date.strftime("%d/%m/%Y") %></td>
          <td><%= metric.sloc %></td>
          <td><%= metric.loc %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <br>
  <% end %>
</p>
