<% content_for :page_javascript do %>
  <%= raw default_js %>
<% end %>

<h2>Bad Smell by SLOC</h2>
<p>This feature shows the files that in any of the commits that it has been modified, its SLOC was greater than 100</p>

<div class="filters">
  <%= form_tag bad_smell_by_sloc_filtered_path %>
    <div class="filter_row clear">
      <%= label_tag "Repository" %>
      <%= select("filter","repository", @repositories, {:include_blank => false}, :id => "repository") %>
    </div>
  </form>
  <%= submit_tag "Filter", :class => "btn btn-info filter_results_btn" %>
</div>


<div class="filter_results clear"></div>