<% content_for :page_javascript do %>
  <%= javascript_include_tag "jquery.form.min" %>

  <script type="text/javascript">
    $(document).ready(function(){
      $(".filter_results_btn").on("click", function(){
        var options = {
          success:       showResponse  // post-submit callback
        };
        $('form').ajaxSubmit(options);
        return false;
      });
    });

    function showResponse(responseText, statusText, xhr, $form)  {
      $('.filter_results').html(responseText);
    }
  </script>
<% end %>

<div class="filters">
  <%= form_tag loc_sum_by_date_filtered_path %>
    <div class="filter clear">
      <%= label_tag "From" %>
      <%= date_select("date", "from", :start_year => @from.year, :end_year => @to.year, :default => @from, :order => [:day, :month, :year]) %>
    </div>
    <div class="filter clear">
      <%= label_tag "To" %>
      <%= date_select("date", "to", :start_year => @from.year, :end_year => @to.year, :default => @to, :order => [:day, :month, :year]) %>
    </div>
    <div class="filter clear">
      <%= label_tag "Commiter" %>
      <%= select("filter","commiter", @commiters, {:include_blank => false}) %>
    </div>
  </form>
  <%= submit_tag "Filter", :class => "btn btn-info filter_results_btn" %>
</div>

<div class="filter_results clear"></div>