<% content_for :page_javascript do %>
  <%= raw default_js %>
<% end %>

<div class="filters">
  <%= form_tag loc_sum_by_date_filtered_path %>
    <div class="filter_row clear">
      <div class="filter">
        <%= label_tag "Repository" %>
        <%= select("filter","repository", @repositories, {:include_blank => false}, :id => "repository") %>
      </div>
      <div class="filter">
        <%= label_tag "Commiter" %>
        <%= select("filter","commiter", @commiters, {:include_blank => false}) %>
      </div>
    </div>
    <div class="date_filters">
      <%= render :partial => "date_selectors", :locals => {:from => @from, :to => @to} %>
    </div>
  </form>
  <%= submit_tag "Filter", :class => "btn btn-info filter_results_btn" %>
</div>

<div class="filter_results clear"></div>