<h1>Listing scmlogs</h1>

<table>
  <tr>
    <th>Rev</th>
    <th>Committer</th>
    <th>Author</th>
    <th>Date</th>
    <th>Message</th>
    <th>Composed rev</th>
    <th>Repository</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scmlogs.each do |scmlog| %>
  <tr>
    <td><%= scmlog.rev %></td>
    <td><%= scmlog.committer_id %></td>
    <td><%= scmlog.author_id %></td>
    <td><%= scmlog.date %></td>
    <td><%= scmlog.message %></td>
    <td><%= scmlog.composed_rev %></td>
    <td><%= scmlog.repository_id %></td>
    <td><%= link_to 'Show', scmlog %></td>
    <td><%= link_to 'Edit', edit_scmlog_path(scmlog) %></td>
    <td><%= link_to 'Destroy', scmlog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scmlog', new_scmlog_path %>
