<p id="notice"><%= notice %></p>

<p>
  <b>Commit:</b>
  <%= @commits_line.commit_id %>
</p>

<p>
  <b>Added:</b>
  <%= @commits_line.added %>
</p>

<p>
  <b>Removed:</b>
  <%= @commits_line.removed %>
</p>


<%= link_to 'Edit', edit_commits_line_path(@commits_line) %> |
<%= link_to 'Back', commits_lines_path %>
