<h1>Listing actions_file_names</h1>

<table>
  <tr>
    <th>Type</th>
    <th>File</th>
    <th>New file name</th>
    <th>Commit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @actions_file_names.each do |actions_file_name| %>
  <tr>
    <td><%= actions_file_name.type %></td>
    <td><%= actions_file_name.file_id %></td>
    <td><%= actions_file_name.new_file_name %></td>
    <td><%= actions_file_name.commit_id %></td>
    <td><%= link_to 'Show', actions_file_name %></td>
    <td><%= link_to 'Edit', edit_actions_file_name_path(actions_file_name) %></td>
    <td><%= link_to 'Destroy', actions_file_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Actions file name', new_actions_file_name_path %>
