<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @actions_file_name.type %>
</p>

<p>
  <b>File:</b>
  <%= @actions_file_name.file_id %>
</p>

<p>
  <b>New file name:</b>
  <%= @actions_file_name.new_file_name %>
</p>

<p>
  <b>Commit:</b>
  <%= @actions_file_name.commit_id %>
</p>


<%= link_to 'Edit', edit_actions_file_name_path(@actions_file_name) %> |
<%= link_to 'Back', actions_file_names_path %>
