<table class="data-table">
  <thead>
  <tr>
    <th>Name</th>
    <th>committer</th>
    <th>Date</th>
    <th>SLOC</th>
    <th>LOC</th>
  </tr>
  </thead>
  <tbody>
  <% @metrics.each do |metric| %>
      <tr>
        <td><%= metric.file.file_name %></td>
        <td><%= metric.commit.committer.name %></td>
        <td><%= metric.commit.date.strftime("%m/%d/%Y") %></td>
        <td><%= metric.sloc %></td>
        <td><%= metric.loc %></td>
      </tr>
  <% end %>
  </tbody>
</table>