<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ruby on Rails implementation for CVSAnalY (and more)">
    <meta name="keywords" content="cvsanaly, cvs analyzer, cvsanaly-rails">
    <meta name="author" content="Fabricio Roveda">

    <title><%= content_for?(:title) ? yield(:title) : "cvsanaly" %></title>

    <script src='//www.google.com/jsapi'></script>

    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", media: "all" %>

    <%= favicon_link_tag %>
  </head>
  <body>
    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div style="width: auto;" class="container">
          <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to 'CVSAnalY-Rails', root_path, class: 'brand' %>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><%= link_to 'Home', root_path %></li>
              <% if can?(:acces, :rails_admin) %>
                <li><%= link_to 'Admin', "/admin" %></li>
              <% end %>
            </ul>
            <ul class="nav pull-right">
              <li>
                <a rel="nofollow" data-method="delete" href="/users/sign_out">
                  <span>Log out</span>
                </a>
              </li>
            </ul>
          </div><!-- /.nav-collapse -->
        </div>
      </div><!-- /navbar-inner -->
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div style="padding: 8px 0;" class="well">
            <ul class="nav nav-list">
              <li class="nav-header">Features</li>
              <li class="<%= 'active' if current_page?(loc_sum_by_date_path) %>"><%= link_to "LOC/SLOC SUM in time", loc_sum_by_date_path %></li>
              <li class="<%= 'active' if current_page?(modifications_amount_by_commit_path) %>"><%= link_to "SUM of Files Modified in time", modifications_amount_by_commit_path %></li>
              <li class="<%= 'active' if current_page?(metrics_evolution_path) %>"><%= link_to "Metrics Evolution by Branch in time", metrics_evolution_path %></li>
              <li class="<%= 'active' if current_page?(bad_smell_by_sloc_path) %>"><%= link_to "Bad Smell Files by SLOC", bad_smell_by_sloc_path %></li>
              <li class="<%= 'active' if current_page?(bad_smell_by_nfunctions_path) %>"><%= link_to "Bad Smell Files by Number of Methods", bad_smell_by_nfunctions_path %></li>
            </ul>
          </div>
        </div><!--/span-->
        <div class="span9">
          <%= yield %>
        </div><!--/span-->
      </div><!--/row-->
    </div>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
  </body>
</html>
